<div class="login-page" [ngClass]="{ 'page-transition': isTransitioning }">
  <div class="login-container" *ngIf="!isLoading">
    <div class="login-image">
      <!-- Espaço reservado para a cor cinza -->
    </div>
    <div class="login-form">
      <h2>Bem-vindo</h2>
      <p>Faça login para acessar sua conta</p>
      <form>
        <label for="username">Usuário:</label>
        <input 
          type="text" 
          id="username" 
          name="username" 
          placeholder="Digite seu usuário" 
          [(ngModel)]="username" 
          required>
        <label for="password">Senha:</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          placeholder="Digite sua senha" 
          [(ngModel)]="password" 
          required>
        <button type="button" id="login-button" (click)="login()">Entrar</button>
        <div class="login-options">
          <p>Ou faça login com:</p>
          <div class="social-buttons">
            <button type="button" class="social-button">
              <img src="https://img.icons8.com/?size=512&id=17949&format=png" alt="Google" class="social-icon">
            </button>
            <button type="button" class="social-button">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1280px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook" class="social-icon">
            </button>
            <button type="button" class="social-button">
              <img src="https://cdn-icons-png.flaticon.com/512/0/747.png" alt="Apple" class="social-icon">
            </button>
            <button type="button" class="social-button">
              <img src="https://img.icons8.com/color/200/microsoft.png" alt="Microsoft" class="social-icon">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
    <p>Carregando...</p>
  </div>
</div>
