.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 50px;
  background-color: #333;
  color: #fff;
  transition: width 0.3s;
  overflow: hidden;
  position: fixed;
  height: 100%;
  z-index: 1000; /* Garante que a barra lateral fique acima do conteúdo */
}

.sidebar.expanded {
  width: 180px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre o ícone e o texto */
}

.sidebar ul li a i {
  font-size: 20px; /* Tamanho do ícone */
}

.content {
  margin-left: 60px;
  padding: 20px;
  flex: 1;
  background: linear-gradient(135deg, #c9e265 0%, #09205f 100%); /* Gradiente de fundo */
  overflow-y: auto;
  transition: margin-left 0.3s;
}

.sidebar.expanded + .content {
  margin-left: 200px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px ;
  background-color: #444; /* Fundo para destacar a logo */
}

.logo {
  width: 60px; /* Tamanho da logo */
  height: auto;
  transition: width 0.3s;
}

.sidebar.expanded .logo {
  width: 80px; /* Tamanho maior da logo quando expandida */
}

.logout-container {
  position: absolute;
  bottom: 20px; /* Posiciona o botão 20px acima do final da barra */
  width: 100%; /* Garante que ocupe toda a largura */
  text-align: center; /* Centraliza o conteúdo */
  padding-left: 15px; /* Espaçamento alinhado com o botão Formulário */
}

.logout-container a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; /* Alinha verticalmente com o botão Formulário */
  justify-content: flex-start; /* Alinha à esquerda */
  gap: 10px; /* Espaçamento entre o ícone e o texto */
  padding: 10px 0;
}

.logout-container a i {
  font-size: 20px; /* Tamanho do ícone */
}

.sidebar.expanded .logout-container a {
  padding-left: 0px; /* Mantém o alinhamento no estado expandido */
}

.icon {
  width: 20px;
  height: 20px;
}
