<div class="layout">
  <div class="sidebar" (mouseenter)="expanded = true" (mouseleave)="expanded = false" [class.expanded]="expanded">
    <!-- Adicionando a logo -->
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </div>
    <ul>
      <li>
        <a routerLink="/inicio">
          <i class="fi fi-rr-home"></i> <!-- Ícone atualizado para a página de boas-vindas -->
          <span *ngIf="expanded">Início</span>
        </a>
      </li>
      <li>
        <a routerLink="/form">
          <i class="fi fi-rr-document"></i> <!-- Ícone para o formulário -->
          <span *ngIf="expanded">Formulário</span> <!-- Nome da página exibido apenas quando expandido -->
        </a>
      </li>
    </ul>
    <div class="logout-container">
      <a routerLink="/login">
        <i class="fi fi-rr-exit"></i> <!-- Ícone para logout -->
        <span *ngIf="expanded">Sair</span> <!-- Nome da página exibido apenas quando expandido -->
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
