<div class="welcome-card">
  <div class="welcome-content">
    <div class="welcome-text">
      <h1>Olá, [Nome do Visitante]!</h1>
      <p>Saudações e bem-vindo à [Nome da Sua Empresa]! Estamos encantados em tê-lo como parte da nossa comunidade. Sinta-se à vontade para descobrir, interagir e colaborar conosco para criar algo maravilhoso.</p>
    </div>
    <div class="welcome-animation">
      <img src="assets/animations/robo.gif" alt="Animação do Robô" class="animation-gif">
    </div>
  </div>
</div>
